
<div class="container text-center">
    <h4>Welcome Cashier's Console!</h4>
    <div class="card col-md-12">
      <div class="card-header"><b>Choose from the following Actions</b></div>
        <div class="card-body">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item"><button type="button" class="btn btn-primary" (click)= "accountdetails()" >View Customer Account Details</button></li>
                <li class="list-group-item"><button type="button" class="btn btn-primary" (click)="withdraw()">Withdraw</button></li>
                <li class="list-group-item"><button type="button" class="btn btn-primary" (click)="deposit()">Deposit</button></li>
                <li class="list-group-item"><button type="button" class="btn btn-primary" (click) = "transfer()">Transfer</button></li>
            </ul>
        </div> 
      </div> 
</div>

